USE [Clouseau]
GO
/****** Object:Table [dbo].[ActionsAudit]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionsAudit](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[entity] [nchar](50) NOT NULL,
	[action] [nchar](50) NOT NULL,
	[userId] [bigint] NOT NULL,
	[date] [datetime] NOT NULL,
	[description] [nchar](250) NULL,
 CONSTRAINT [PK_ActionsAudit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Clients]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nchar](250) NOT NULL,
	[income] [date] NOT NULL,
	[outcome] [date] NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[GadgetExpress]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GadgetExpress](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nchar](50) NOT NULL,
	[description] [nchar](250) NULL,
	[message] [nchar](250) NOT NULL,
	[icon] [nchar](50) NULL,
	[startDay] [date] NOT NULL,
	[startTime] [time](7) NOT NULL,
	[endDay] [date] NULL,
	[endTime] [time](7) NULL,
	[intervalHours] [int] NULL,
	[executions] [int] NOT NULL,
	[activeMonday] [bit] NOT NULL,
	[activeTuesday] [bit] NOT NULL,
	[activeWednesday] [bit] NOT NULL,
	[activeThursday] [bit] NOT NULL,
	[activeFriday] [bit] NOT NULL,
	[nextExecution] [datetime] NULL,
 CONSTRAINT [PK_gadgetExpress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[NonworkingDays]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NonworkingDays](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[day] [date] NOT NULL,
	[description] [nchar](255) NULL,
 CONSTRAINT [PK_NonworkingDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Profiles]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profiles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[description] [nchar](250) NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Projects]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[clientId] [bigint] NOT NULL,
	[name] [nchar](250) NOT NULL,
	[created] [date] NOT NULL,
	[active] [bit] NOT NULL,
	[deleted] [date] NULL,
	[teamId] [bigint] NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[ProjectTasks]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTasks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nchar](250) NOT NULL,
	[description] [nchar](250) NOT NULL,
	[date] [date] NOT NULL,
	[projectId] [bigint] NOT NULL,
	[estimatedHours] [decimal](5, 2) NOT NULL,
	[active] [bit] NOT NULL,
	[finished] [bit] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Roles]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[description] [nchar](250) NULL,
	[active] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[TaskProgress]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskProgress](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[taskId] [bigint] NOT NULL,
	[userId] [bigint] NOT NULL,
	[comment] [nchar](250) NOT NULL,
	[date] [datetime] NOT NULL,
	[hours] [decimal](5, 2) NOT NULL,
	[taskTypeId] [bigint] NOT NULL,
 CONSTRAINT [PK_TaskProgress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[TaskTypes]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[description] [nchar](250) NULL,
 CONSTRAINT [PK_TaskTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Teams]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nchar](250) NOT NULL,
	[created] [date] NOT NULL,
	[active] [bit] NOT NULL,
	[deleted] [date] NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[UserAccounts]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[userId] [bigint] NOT NULL,
	[serviceId] [smallint] NOT NULL,
	[username] [nchar](50) NOT NULL,
	[email] [nchar](150) NOT NULL,
 CONSTRAINT [PK_usersAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[UserNonworkingDays]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNonworkingDays](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[userId] [bigint] NOT NULL,
	[dateFrom] [date] NOT NULL,
	[dateTo] [date] NOT NULL,
	[type] [smallint] NOT NULL,
	[comment] [nchar](255) NULL,
	[path] [nchar](255) NULL,
	[state] [smallint] NOT NULL,
	[created] [datetime] NOT NULL,
 CONSTRAINT [PK_UserNonworkingDays_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[Users]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[firstname] [nchar](50) NOT NULL,
	[lastname] [nchar](50) NOT NULL,
	[username] [nchar](50) NOT NULL,
	[password] [nchar](250) NOT NULL,
	[email] [nchar](250) NOT NULL,
	[phoneNumber] [nchar](50) NOT NULL,
	[birth] [date] NULL,
	[income] [date] NOT NULL,
	[outcome] [date] NULL,
	[isActive] [bit] NOT NULL,
	[isExternal] [bit] NOT NULL,
	[superior] [bigint] NULL,
	[roleId] [bigint] NOT NULL,
	[profileId] [bigint] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:Table [dbo].[UserTeams]Script Date: 21/02/2024 16:59:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTeams](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[userId] [bigint] NOT NULL,
	[teamId] [bigint] NOT NULL,
	[income] [date] NOT NULL,
	[outcome] [date] NULL,
	[temporary] [bit] NOT NULL,
 CONSTRAINT [PK_UserTeams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Id], [name], [income], [outcome], [active]) VALUES (2, N'FACTORY', CAST(N'2023-12-27' AS Date), NULL, 1)
INSERT [dbo].[Clients] ([Id], [name], [income], [outcome], [active]) VALUES (3, N'DGUIAF', CAST(N'2023-12-27' AS Date), NULL, 1)
INSERT [dbo].[Clients] ([Id], [name], [income], [outcome], [active]) VALUES (4, N'ANDREANI', CAST(N'2023-12-27' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[GadgetExpress] ON 

INSERT [dbo].[GadgetExpress] ([Id], [title], [description], [message], [icon], [startDay], [startTime], [endDay], [endTime], [intervalHours], [executions], [activeMonday], [activeTuesday], [activeWednesday], [activeThursday], [activeFriday], [nextExecution]) VALUES (1, N'Hidratate!', N'Recordatorio, Salud', N'No olvides tomar agua!, la deshidratación causa fuertes dolores de cabeza!', NULL, CAST(N'2024-02-12' AS Date), CAST(N'11:30:00' AS Time), NULL, NULL, 4, 24, 1, 1, 1, 1, 1, CAST(N'2024-02-14T19:39:42.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[GadgetExpress] OFF
GO
SET IDENTITY_INSERT [dbo].[NonworkingDays] ON 

INSERT [dbo].[NonworkingDays] ([Id], [day], [description]) VALUES (1, CAST(N'2024-07-09' AS Date), N'Dia de la bandera')
SET IDENTITY_INSERT [dbo].[NonworkingDays] OFF
GO
SET IDENTITY_INSERT [dbo].[Profiles] ON 

INSERT [dbo].[Profiles] ([Id], [name], [description], [active]) VALUES (1, N'Administrador', N'Administrador', 1)
INSERT [dbo].[Profiles] ([Id], [name], [description], [active]) VALUES (2, N'Gestor de Proyectos', N'Gestor de Proyectos', 1)
INSERT [dbo].[Profiles] ([Id], [name], [description], [active]) VALUES (3, N'Estándar', N'Estándar', 1)

SET IDENTITY_INSERT [dbo].[Profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [clientId], [name], [created], [active], [deleted], [teamId]) VALUES (1, 2, N'CLOUSEAU', CAST(N'2023-12-28' AS Date), 1, NULL, 2)
INSERT [dbo].[Projects] ([Id], [clientId], [name], [created], [active], [deleted], [teamId]) VALUES (2, 3, N'BAC', CAST(N'2023-12-28' AS Date), 1, NULL, 3)
INSERT [dbo].[Projects] ([Id], [clientId], [name], [created], [active], [deleted], [teamId]) VALUES (3, 3, N'BACO', CAST(N'2023-12-28' AS Date), 1, NULL, 4)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO

SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [name], [description], [active]) VALUES (1, N'Gerente', N'Gerente', 1)
INSERT [dbo].[Roles] ([Id], [name], [description], [active]) VALUES (2, N'Referente Técnico', N'Referente Técnico', 1)
INSERT [dbo].[Roles] ([Id], [name], [description], [active]) VALUES (3, N'Líder de Proyecto Cross', N'Líder de Proyecto Cross', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF

SET IDENTITY_INSERT [dbo].[TaskTypes] ON 

INSERT [dbo].[TaskTypes] ([Id], [name], [description]) VALUES (1, N'Relevamiento', N'Relevamiento')
INSERT [dbo].[TaskTypes] ([Id], [name], [description]) VALUES (2, N'Desarrollo', N'Desarrollo')
INSERT [dbo].[TaskTypes] ([Id], [name], [description]) VALUES (3, N'Test', N'Test')
SET IDENTITY_INSERT [dbo].[TaskTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([Id], [name], [created], [active], [deleted]) VALUES (1, N'FACTORY', CAST(N'2023-12-28' AS Date), 1, CAST(N'2024-01-02' AS Date))
INSERT [dbo].[Teams] ([Id], [name], [created], [active], [deleted]) VALUES (2, N'LUKE', CAST(N'2024-02-05' AS Date), 1, NULL)
INSERT [dbo].[Teams] ([Id], [name], [created], [active], [deleted]) VALUES (3, N'BAC', CAST(N'2023-12-28' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccounts] ON 

INSERT [dbo].[UserAccounts] ([Id], [userId], [serviceId], [username], [email]) VALUES (1, 1, 3, N'LukeDev89', N'lucasporto76@gmail.com')
INSERT [dbo].[UserAccounts] ([Id], [userId], [serviceId], [username], [email]) VALUES (3, 1, 1, N'Lucas Porto', N'lporto@cfotechlatam.com')
INSERT [dbo].[UserAccounts] ([Id], [userId], [serviceId], [username], [email]) VALUES (4, 1, 1, N'lporto', N'lporto@cfotechlatam.com')
SET IDENTITY_INSERT [dbo].[UserAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [firstname], [lastname], [username], [password], [email], [phoneNumber], [birth], [income], [outcome], [isActive], [isExternal], [superior], [roleId], [profileId]) VALUES (1, N'Lucas', N'Porto', N'lporto', N'7c222fb2927d828af22f592134e8932480637c0d', N'lporto@cfotechlatam.com', N'1166613881', CAST(N'1989-01-10' AS Date), CAST(N'2022-07-01' AS Date), NULL, 1, 0, NULL, 6, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTeams] ON 

INSERT [dbo].[UserTeams] ([Id], [userId], [teamId], [income], [outcome], [temporary]) VALUES (1, 1, 1, CAST(N'2024-01-02' AS Date), NULL, 0)
INSERT [dbo].[UserTeams] ([Id], [userId], [teamId], [income], [outcome], [temporary]) VALUES (2, 1, 2, CAST(N'2024-01-02' AS Date), NULL, 0)
INSERT [dbo].[UserTeams] ([Id], [userId], [teamId], [income], [outcome], [temporary]) VALUES (3, 1, 3, CAST(N'2024-01-02' AS Date), NULL, 0)
SET IDENTITY_INSERT [dbo].[UserTeams] OFF
GO
ALTER TABLE [dbo].[ActionsAudit] ADDCONSTRAINT [DF_ActionsAudit_date]DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Clients] ADDCONSTRAINT [DF_Clients_income]DEFAULT (getdate()) FOR [income]
GO
ALTER TABLE [dbo].[Clients] ADDCONSTRAINT [DF_Clients_active]DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[GadgetExpress] ADDCONSTRAINT [DF_gadgetExpress_executions]DEFAULT ((0)) FOR [executions]
GO
ALTER TABLE [dbo].[GadgetExpress] ADDCONSTRAINT [DF_gadgetExpress_activeMonday]DEFAULT ((0)) FOR [activeMonday]
GO
ALTER TABLE [dbo].[GadgetExpress] ADDCONSTRAINT [DF_gadgetExpress_actimeTuesday]DEFAULT ((0)) FOR [activeTuesday]
GO
ALTER TABLE [dbo].[GadgetExpress] ADDCONSTRAINT [DF_gadgetExpress_activeThursday]DEFAULT ((0)) FOR [activeThursday]
GO
ALTER TABLE [dbo].[Profiles] ADDCONSTRAINT [DF_Profiles_active]DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Projects] ADDCONSTRAINT [DF_Projects_created]DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Projects] ADDCONSTRAINT [DF_Projects_active]DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ProjectTasks] ADDCONSTRAINT [DF_Tasks_date]DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[ProjectTasks] ADDCONSTRAINT [DF_ProjectTasks_estimatedHours]DEFAULT ((0)) FOR [estimatedHours]
GO
ALTER TABLE [dbo].[ProjectTasks] ADDCONSTRAINT [DF_ProjectTasks_active]DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[ProjectTasks] ADDCONSTRAINT [DF_ProjectTasks_finished]DEFAULT ((0)) FOR [finished]
GO
ALTER TABLE [dbo].[Roles] ADDCONSTRAINT [DF_Roles_active]DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[TaskProgress] ADDCONSTRAINT [DF_TaskProgress_date]DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Teams] ADDCONSTRAINT [DF_Teams_created]DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Teams] ADDCONSTRAINT [DF_Teams_active]DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[UserNonworkingDays] ADDCONSTRAINT [DF_UserNonworkingDays_type_1]DEFAULT ((1)) FOR [type]
GO
ALTER TABLE [dbo].[UserNonworkingDays] ADDCONSTRAINT [DF_UserNonworkingDays_state]DEFAULT ((0)) FOR [state]
GO
ALTER TABLE [dbo].[UserNonworkingDays] ADDCONSTRAINT [DF_UserNonworkingDays_created]DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [dbo].[Users] ADDCONSTRAINT [DF_Users_income]DEFAULT (getdate()) FOR [income]
GO
ALTER TABLE [dbo].[Users] ADDCONSTRAINT [DF_Users_active]DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Users] ADDCONSTRAINT [DF_Users_external]DEFAULT ((0)) FOR [isExternal]
GO
ALTER TABLE [dbo].[UserTeams] ADDCONSTRAINT [DF_UserTeams_income]DEFAULT (getdate()) FOR [income]
GO
ALTER TABLE [dbo].[UserTeams] ADDCONSTRAINT [DF_UserTeams_temporary]DEFAULT ((0)) FOR [temporary]
GO
ALTER TABLE [dbo].[ActionsAudit]WITH CHECK ADDCONSTRAINT [FK_ActionsAudit_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ActionsAudit] CHECK CONSTRAINT [FK_ActionsAudit_Users]
GO
ALTER TABLE [dbo].[Projects]WITH CHECK ADDCONSTRAINT [FK_Projects_Clients] FOREIGN KEY([clientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Clients]
GO
ALTER TABLE [dbo].[Projects]WITH CHECK ADDCONSTRAINT [FK_Projects_Teams] FOREIGN KEY([teamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Teams]
GO
ALTER TABLE [dbo].[ProjectTasks]WITH CHECK ADDCONSTRAINT [FK_Tasks_Projects] FOREIGN KEY([projectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectTasks] CHECK CONSTRAINT [FK_Tasks_Projects]
GO
ALTER TABLE [dbo].[TaskProgress]WITH CHECK ADDCONSTRAINT [FK_TaskProgress_Tasks] FOREIGN KEY([taskId])
REFERENCES [dbo].[ProjectTasks] ([Id])
GO
ALTER TABLE [dbo].[TaskProgress] CHECK CONSTRAINT [FK_TaskProgress_Tasks]
GO
ALTER TABLE [dbo].[TaskProgress]WITH CHECK ADDCONSTRAINT [FK_TaskProgress_TaskTypes] FOREIGN KEY([taskTypeId])
REFERENCES [dbo].[TaskTypes] ([Id])
GO
ALTER TABLE [dbo].[TaskProgress] CHECK CONSTRAINT [FK_TaskProgress_TaskTypes]
GO
ALTER TABLE [dbo].[TaskProgress]WITH CHECK ADDCONSTRAINT [FK_TaskProgress_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TaskProgress] CHECK CONSTRAINT [FK_TaskProgress_Users]
GO
ALTER TABLE [dbo].[UserAccounts]WITH CHECK ADDCONSTRAINT [FK_usersAccounts_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserAccounts] CHECK CONSTRAINT [FK_usersAccounts_Users]
GO
ALTER TABLE [dbo].[UserNonworkingDays]WITH CHECK ADDCONSTRAINT [FK_UserNonworkingDays_Users1] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserNonworkingDays] CHECK CONSTRAINT [FK_UserNonworkingDays_Users1]
GO
ALTER TABLE [dbo].[Users]WITH CHECK ADDCONSTRAINT [FK_Users_Profiles] FOREIGN KEY([profileId])
REFERENCES [dbo].[Profiles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Profiles]
GO
ALTER TABLE [dbo].[Users]WITH CHECK ADDCONSTRAINT [FK_Users_Roles] FOREIGN KEY([roleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]WITH CHECK ADDCONSTRAINT [FK_Users_Users] FOREIGN KEY([superior])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users]
GO
ALTER TABLE [dbo].[UserTeams]WITH CHECK ADDCONSTRAINT [FK_UserTeams_Teams] FOREIGN KEY([teamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[UserTeams] CHECK CONSTRAINT [FK_UserTeams_Teams]
GO
ALTER TABLE [dbo].[UserTeams]WITH CHECK ADDCONSTRAINT [FK_UserTeams_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserTeams] CHECK CONSTRAINT [FK_UserTeams_Users]
GO
